.App {
  text-align: center;
}

img {

  object-fit: cover;

  width: 100vw;

  height: 100vh;

  position: fixed;

  top: 0;

  left: 0;

  z-index: -1;

}

h1, p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  font-style: italic;
  
}
p {
  font-size: 50px;
}


@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');



.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}



.btn:hover {
  transition: 1s ease-in-out;
  background: #a0a2a5;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}